<div class="weather-container">
  
<div><h3>Weather Checker</h3>
<input [(ngModel)]="city" placeholder="Enter city" />
<button (click)="getWeather()">Get Weather</button>

<div *ngIf="errorMsg">{{ errorMsg }}</div>
<div *ngIf="weather$ | async as weather">
  <h4>Weather in {{ weather.name }}</h4>
  <p>Temperature: {{ weather.main.temp }} °C</p>
  <p>Condition: {{ weather.weather[0].description }}</p>
</div>
<div *ngIf="data">
      <h2>Registration Details</h2>
      <p><strong>Name:</strong> {{data.name}}</p>
      <p><strong>Email:</strong> {{data.email}}</p>
      <p><strong>Password:</strong> {{data.password}}</p>
    </div>
    <div *ngIf="!data">
      <p>No registration data available.</p>
    </div>
<!--     
<ul *ngFor = "let data of showData">
  <li>Name:{{data.name}}</li>
  <li>Name:{{data.email}}</li>
  <li>Name:{{data.password}}</li>
</ul> -->
</div>
</div>
