<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of fields">
    <label>{{ field.label }}</label>

    <input *ngIf="field.type === 'text'" [formControlName]="field.name" type="text" />
    <input *ngIf="field.type === 'email'" [formControlName]="field.name" type="email" />
    <input *ngIf="field.type === 'number'" [formControlName]="field.name" type="number" />

    <select *ngIf="field.type === 'select'" [formControlName]="field.name">
      <option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</option>
    </select>
  </div>

  <button type="submit">Submit</button>
</form>
