.completed{
    text-decoration: line-through;
    color: gray;
}

.todo-container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border:1px solid #ddd;
    border-radius: 8px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 5px;
    color:yellowgreen;
}

button{
    padding: 8px 12px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
li span {
  flex-grow: 1;
  margin-left: 10px;
}